<html>
    
    
    <head>
        <title>  Article </title>  
    </head>
    <body>
        <h1>Article</h1>
    <% console.log(request.article) %>
    <% =request.article.title %>
    <h2> Tittle : < % = request.article.title %> </h2>
<p> <% =request.article.content %></p>        
    
    </body>
    
</html>