<!HTML DOCTYPE>
<html>
<head>
  
</head>
<body>
    <form id="form">
        <h1>New Product </h1>
        <label>Name:</label>
        <input type='text' name="name" placeholder="nickname here"><br>
        <label>Description:</label><br>
        <textarea name="description" placeholder=""></textarea><br>
        <label>Price:</label>
        <input type='number' name="price" min="0" placeholder="price>0"><br>
        <label>Quantity:</label>
        <input type='number' name="quantity" min="1" placeholder="quantity>=1"><br>
        <label id="Error"></label>
        <button type="button" id="submit">Submit</button>
    
    </form>
  
  
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script>
      $('#submit').click(function(){
          var data = $('#form').serializeArray();
          var product = {};
          $.each(data, function(i,v){
              product[v.name] = v.value;
          })
       
          
          $.ajax({
              method: "POST",
              url: "/api/products",
              data: product
          }).done(function(res){
             alert("Form submited");
             console.log(res);
             window.location.href = "/products/"+res._id;
          }).fail(function(res){
              $("#Error").text(JSON.parse(res.responseText).message);
              console.log(res.responseText);
              //alert(res.responseText.message);
          });
      });
      
      
  </script>
</body>
</html>

