<html>
    
    
    <head>
        <title>  Product </title>  
    </head>
    <body>
        <h1>Product</h1>
    <% console.log(request.product) %>
    <%=request.product.title %>
    <h2> Tittle : <%= request.product.title %> </h2>
<p> <%=request.product.content %></p>        
    
    </body>
    
</html>